body {
    font-family: Arial, sans-serif; 
    background-color: wheat;
    text-align: center; 
    margin: 0; 
    padding: 20px; 
}

button {
    padding: 10px 20px; 
    font-size: 16px; 
    color: white; 
    background-color: #007bff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #0056b3; 
}

img {
    display: none; 
    margin-top: 20px; 
    width: 300px;
    height: auto; 
    margin-left: 768px;
}



.pagna{
    display: none;
    padding: 10px 20px; 
    font-size: 16px; 
    color: white; 
    background-color: #007bff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    margin-top: 100px;
    width: 400px;
    height: 200px;
    margin-left: 728px;
}